# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Backend configs
**/config/*.backend.hcl
!**/config/*.backend.hcl.example

# Lambda build artifacts
**/builds/*
**/node_modules/*
**/.serverless/*

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
**/env/**
**/.env/**
**/venv/**
**/.venv/**
.env
/env

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

**/__pycache__/
**/*.dist-info/
**/*.egg-info/

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/