bucket          = "your-project-bootstrap-dev-terraform-state"
key             = "terraform-bootstrap/dev/state"
region          = "us-east-1"
dynamodb_table  = "your-project-bootstrap-dev-terraform-locks"
encrypt         = true
